.temp {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
}

.cover {
  width: 168px!important;
  height: 168px!important;
  top: 0px!important;
  left: 0px!important;
  transform: translate(-0px, -0px)!important;
}
